body {
    background-color: dimgray;
}

h1{
    text-align: center;
}
nav{
    text-align: center;
    background-color: aliceblue;
}
#About{
    font-family:'Times New Roman', Times, serif;
    font-size:25px; 
}
#Projects{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
#Contact{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}